# Compiled files
*.class
*.o
*.out
a.out

# VS Code
.vscode

# Python
__pycache__/
*.py[cod]
.env
.venv

# Mac
.DS_Store
**/.DS_Store

# IntelliJ
.idea

# Store datafiler som ikke skal på GitHub
*.bin
*.csv
*.txt

# Executable filer (kompilerte C-programmer uten extension)
oving1
oving2
oving3
oving4
oving5
oving6
oving7