# Compiled files
*.class
*.o
*.out
a.out

# VS Code
.vscode

# Python
__pycache__/
*.py[cod]
.env
.venv

# Mac
.DS_Store
**/.DS_Store

# IntelliJ
.idea

# Store datafiler som ikke skal på GitHub
*.bin
*.csv
*.txt

# Executable filer (kompilerte C-programmer uten extension)
ovinger/oving1/oving1
ovinger/oving2/oving2
ovinger/oving3/oving3
ovinger/oving4/del1
ovinger/oving4/del2
ovinger/oving5/oving5
ovinger/oving6/oving6
ovinger/oving7/oving7